body {
    background-color: magenta;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: lightgray;
    color: black;
}

.ilmoitus {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex: 1;
}